<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
	<!-- bootstrap css -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"><!-- fontawesome css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
	
	</head>
    <body class="banner-top" >
       
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	
        <nav>
		<b>	
        <a class="nav-link" href="{{ url_for('crop_recommend') }}">Crop</a>
        <a class="nav-link" href="{{ url_for('fertilizer_recommendation') }}">Fertilizer</a>
		</b>
        </nav>
        {% block body %} {% endblock %}
</body>
</html>
